html {
    height: 100%;
    margin: 0;
}
body {
    background-color: #000000;
    display: flex; 
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Hanken Grotesk', sans-serif;
    
}
.left_side {
    width: 25%;
    height: 100%;
    border-right: 2px solid #393939;
    color: white;
}
.navigator {
    margin: 5px 30px 20px 100px;
    height: 100%;
}
.nav_links {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.link{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    margin: 8px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.link svg{
    margin-right: 20px;
}
.side_tweet {
    width: 93%;
    height: 55px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(29, 155, 240);
    border-radius: 40px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.3px;
}
.account{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 10px;
    margin-top: auto;
    text-decoration: none;
}
.account img {
    justify-items: center;
    align-items: center;
    width: 45px;
    border-radius: 50%;
}
.account h4 {
    margin-bottom: -15px;
    color: white;
}

.account p {
    margin-top: -15;
    color: #62634c;
}

.middle {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
    width: 45%;
    border-right: 1px solid #393939 ;
    border-left: 1px solid #393939 ;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
form {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between ;
    border-bottom: 1px solid #393939;
    margin: 0px 0px;
}
form img {
    width: 52px;
    border-radius: 50%;
    margin-right: 5px;
}
form input{
    width: 85%;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
}
form input:focus{
    border: none;
    border-radius: 10px;
    outline: none;
    border-bottom: 1px solid #212327;
}
form svg {
    margin-right: 10px;
}
form button {
    height: 34px;
    width: 80px;
    border: none;
    border-radius: 20px;
    background-color: rgb(29, 155, 240);
    color: white;
    font-size: 14px;
    margin: 6px 20px;
    letter-spacing: 0.3px;
}
form div {
    margin: 6px 70px;
    padding: 10px;
}


.right_side{
    width: 25%;
    height: max-content;
    display: flex;
    flex-direction: column;
    color: white;
    align-content: center;
}
.search-container {
    width: 100%;
    padding: 6px 10px;
}
.search-container svg {
    position: absolute;
    padding: 15px;
}
.search-container input {
    width: 100%;
    padding: 15px 15px 15px 44px;
    background-color: #212327;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #212327 inset !important;
}
input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}
.hashtags {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #17181c;
    border-radius: 10px;
    margin: 10px 50px 10px 10px;
}
.hashtags h3 {
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin-bottom: 5px;
}
.hashtags a {
    padding: 10px 15px;
    text-decoration: none;
    color: #1d9bf0;
    margin: 20px 0 0 0;
    padding-bottom: 15px;
    border-bottom-right-radius: 20px ;
    border-bottom-left-radius: 20px ;
}
.hashtags a:hover {
    background-color: #1f2024;
}
.tags {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 6px 15px;
}
.tags:hover {
    background-color: #1f2024;
}
.tags h4 {
    text-align: left;
    margin-bottom: -2px;
    margin-top: 2px;
    font-weight: 700;
    letter-spacing: 0.3px;
}
.tags p {
    text-align: right;
    color: #5f6167;
    font-size: 14px;
    margin-bottom: -10px;
    padding-bottom: 10px;
}
.suggestions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #17181c;
    border-radius: 10px;
    margin: 10px 50px 10px 10px;
}
.suggestions h3 {
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin-bottom: -8px;
}
.profiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.profiles:hover{
    background-color: #1f2024;
}
.profiles div{
    margin-left: -18px;
}
.profiles img{
    width: 45px;
    border-radius: 50%;
    margin: 10px;
}
.profiles h4 {
    margin-bottom: -15px;
}
.profiles p {
    color: #484a4f;
    font-size: 16px;
    align-items: center;
}
.profiles span {
    background-color: #212327;
    font-size: 10px;
    color: #8d939d;
    margin-left: 10px;
    padding: 1px 2px;
}
.profiles button {
    padding: 8px 22px;
    float: right;
    background-color: #d8dbdc;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 0.2px;
}
.suggestions a {
    padding: 10px 15px;
    text-decoration: none;
    color: #1d9bf0;
    margin: 20px 0 0 0;
    padding-bottom: 15px;
    border-bottom-right-radius: 20px ;
    border-bottom-left-radius: 20px ;
}
.suggestions a:hover {
    background-color: #1f2024;
}
.newsfeed {
    display: flex;
    flex-direction: column;
}
.post {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-bottom: 1px solid #303336;
}
.retweeted{
    color: #5d8ef1;
    fill:#5d8ef1 ;
    stroke:#5d8ef1;
    background-color: #5d8ef1;
}
.like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 55px;
    background-color: transparent;
    font-size: 12px;
    padding: 1px 2px;
    color: #72757b;
}
.like:hover, svg:hover {
    color: #d00176;
    fill:#d00176 ;
    stroke:#d00176;
}

.liked {
    color: #d00176;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
    
.post button:not(.like) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 55px;
    color: #72757b;
    font-size: 12px;
    padding: 2px;
    width: 55px;
    height: 55px;    
    border-radius: 50%;
}
.post button:not(.like):hover, svg:not(.like svg):hover {
    color: #5d8ef1;
    fill:#5d8ef1 ;
    stroke:#5d8ef1;
}
.reaction-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.post-content {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #303336;
    padding: 10px 0;
    margin-left: -8px;
    margin-right: -8px;
}
.post-content img {
    width: 50px;
    border-radius: 50%;
    align-self: start;
    margin: 2px 10px;
}
.post-text {
    margin: -20px 5px 5px 5px;
}
.post-text h4 {
    margin-bottom: -10px;
}
.post-text span {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #72757b;
}